<<<<<<< HEAD
=======
HEAD
/* cormorant-regular - latin */
@font-face {
  font-family: Cormorant;
  font-style normal
  font-weight: 400;
  src="/fonts/cormorant-v11-latin-regular.woff2") format("woff2")",
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("cormorant-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-700 - latin */
@font-face {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 700;
  src="/cormorant-v11-latin-700.woff2" format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/cormorant-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
>>>>>>> b3a23c846fd282c2f3878d955b0eb4b2c2796168
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
<<<<<<< HEAD
  font-family: "Cormorant", serif;
=======
  font-family: Cormorant;
>>>>>>> b3a23c846fd282c2f3878d955b0eb4b2c2796168
  line-height: 1.2;
  font-weight: 700;
  color: #161616;
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 469px;
}

h2 {
<<<<<<< HEAD
  position: absolute;
  width: 220px;
  height: 60px;
  left: 610px;
  top: 233px;

  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
=======
  font-family: Cormorant;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
>>>>>>> b3a23c846fd282c2f3878d955b0eb4b2c2796168
}

.contacts {
  font-size: 20px;
<<<<<<< HEAD
}
=======

>>>>>>> b3a23c846fd282c2f3878d955b0eb4b2c2796168
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cormorant", serif;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-top: 14px;
}
nav a {
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
  color: #161616;
  cursor: pointer;
  padding: 5px, 7px;
  margin-right: 10px;
}

nav a: hover {
  text-decoration: underline;
}

.img1 {
  position: absolute;
  width: 315px;
  height: 182px;
  left: 562px;
  top: 270px;
  z-index: 3;
}

.img2 {
  position: absolute;
  width: 730px;
  height: 182px;
  left: 355.24px;
  top: 414.09px;
  z-index: 2;
}
.img_main {
  position: absolute;
  width: 477px;
  height: 630px;
  left: 819px;
  top: 162px;
  z-index: 1;
}

.contacts {
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

